# ignore files
.idea/
*.iml
*.iws
cw_part2/files/output/
cw_part2/target/
cw_part2/files/vector/OWL2Vec-Star-IN3067-INM713/case_studies/
*.ttl
*.owl
cw_part2/files/vector/OWL2Vec-Star-IN3067-INM713/**/cache*/
owl2vec310_env/